# build products...
*.py[co]
# PyCharm stuff...
.idea
# Sublime stuff
*.sublime-project
*.sublime-workspace
# virtualenv
Include
Lib
Scripts

#other files...
local_settings.py
static/js/social-getter.js

MySQL-python-wininst.log
regpy.py
RemoveMySQL-python.exe