{% extends "base.html" %}
{% block css %}
    <style type="text/css">
        #activation_box {
            display: table;
            margin-top: 50px;
            font-size: 50px;
            color: white;
            background-color: lightgreen;
            padding: 10px;
        }
    </style>
{% endblock %}
{% block main %}
    <span id="activation_box">
        An account activation email has been sent to you. Please check your email and follow the instructions.
    </span>
{% endblock %}