.hub-tab-content {
    width: 100%;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-width: 0 1px 1px 1px;
    overflow: visible;
}

.hab-tab{
    padding: 20px;
}

.hub-tab-content .hab-tab h2{
    font-weight: bold;
}

.hub-tab-nav {
    margin-top: 20px;
}