html {
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    height: 100%;
}

body{
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    color: inherit;
    text-rendering: optimizelegibility;
}

div {
    position: relative;
}

hr {
    border-bottom: 1px solid white;
    border-top: 1px solid #C5BFB6;
    height: 0px;
}

.hub-tab-content {
    width: 100%;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-width: 0 1px 1px 1px;
    overflow: visible;
}

.hab-tab{
    padding: 20px;
}

.hub-tab-content .hab-tab h2{
    font-weight: bold;
}

.hub-tab-nav {
    margin-top: 20px;
}

#left-settings{
    float: left;
    width: 300px;
    background: red;
    height: 100%;
}

#right-section{
    float: left;
}

.inner-left-settings{
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #FFF;
    overflow: auto;
    z-index: 9;
}


/* Collapse styles*/

.accordion-group {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion-heading {
    background-color: white;
    font-size: 18px;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}

.accordion-heading i {
    float: right;
    opacity: .3;
}

.edit-accordion-help {
    margin-right: 8px;
}

a.accordion-toggle:hover {
    text-decoration: none;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}

#left-settings h4 {
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
}

#left-settings hr {
    margin-top: 0;
    margin-bottom: 4px;
}

a.icn-hm-social-med {
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    margin-top: 7px;
}


.fb {
    background: #3B5998;
    box-shadow: 0px 3px 0px #213B6D;
    -moz-box-shadow: 0px 3px 0px #213b6d;
    -webkit-box-shadow: 0px 3px 0px #213B6D;
}


.fb:active, .fb.active {
    background-color: #243d79;
    background-image: none;
    box-shadow: inset 0px 1px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: inset 0px 1px 0px rgba(50, 50, 50, 0.4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(50, 50, 50, 0.4);
}

a.icn-hm-social-med:hover {
    text-decoration: none;
}

.fb:hover, .tw:hover, .yt:hover, button.in:hover, a.in:hover, .pn:hover, button.rss:hover, a.rss:hover, button.gp:hover, a.gp:hover, button.linkedin:hover, a.linkedin:hover, button.vn:hover, a.vn:hover {
    -webkit-transition: background 0.2s ease-in;
    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
}


.fb:hover {
    background: #2b4582;
    box-shadow: 0px 3px 0px #172d59;
    -moz-box-shadow: 0px 3px 0px #172d59;
    -webkit-box-shadow: 0px 3px 0px #172d59;
}

[class*="foundicon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
}

.foundicon-facebook:before {
    content: "\f003";
}

[class*="foundicon-"]:before {
    font-family: "SocialFoundicons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
}

a.icn-hm-social-med {
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}

.icn-hm-social-med p {
    font-size: 10px;
    margin-top: -8px;
    font-family: 'helvetica neue',arial,sans;
}

.icn-hm-social-med p {
    font-size: 10px;
    font-family: 'helvetica neue',arial,sans;
}

a.icn-hm-social-med {
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}

.icn-hm-social-med {
    height: 61px;
    width: 64px;
    opacity: .9;
    margin-left: 4px;
    float: left;
}

.tw {
    background: #32C1F0;
    box-shadow: 0px 3px 0px #249BC4;
    -moz-box-shadow: 0px 3px 0px #249bc4;
    -webkit-box-shadow: 0px 3px 0px #249BC4;
}

.tw:active, .tw.active {
    background-color: #2088B4;
    background-image: none;
    box-shadow: inset 0px 1px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: inset 0px 1px 0px rgba(50, 50, 50, 0.4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(50, 50, 50, 0.4);
}

.tw:hover {
    background: #18b8ee;
    box-shadow: 0px 3px 0px #1d82a5;
    -moz-box-shadow: 0px 3px 0px #1d82a5;
    -webkit-box-shadow: 0px 3px 0px #1d82a5;
}

button.in:active, a.in:active, button.in.active, a.in.active {
    background-color: #423a2b;
    background-image: none;
    box-shadow: inset 0px 1px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: inset 0px 1px 0px rgba(50, 50, 50, 0.4);
    -webkit-box-shadow: inset 0px 1px 0px rgba(50,50,50,0.4);
}

button.in:hover, a.in:hover {
    background: #524836;
    box-shadow: 0px 3px 0px #474133;
    -moz-box-shadow: 0px 3px 0px #474133;
    -webkit-box-shadow: 0px 3px 0px #474133;
}

button.in, a.in {
    background: #685c44;
    box-shadow: 0px 3px 0px #423a2b;
    -moz-box-shadow: 0px 3px 0px #423a2b;
    -webkit-box-shadow: 0px 3px 0px #423a2b;
}

.clickable {
    cursor: hand;
    cursor: pointer;
}

.dropShadow {
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.edit-content-account {
    margin-top: 5px;
    background-color: #FFF;
    height: 35px;
    position: relative;
}

.edit-content-account-info {
    width: 170px;
    padding: 6px;
    height: 17px;
    overflow: visible;
}

.edit-content-account .btn {
    position: absolute;
    top: 3px;
    right: 3px;
}

/* modal */

.edit-content-moderate-holder{
    margin-top: 10px;
}