<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>North American Hipsters</title>
    <meta name="application-name" content="North American Hipsters" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <LINK href="/site_media/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <LINK href="/site_media/css/main.css" rel="stylesheet" type="text/css">
    {% block css %} {% endblock %}  
</head>

<body style="padding-top: 50px;">
        {% include "header.html" %} 
        <div class="container">
            {% block main %} {% endblock %}
            {% include "footer.html" %}
        </div><!--end of main-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    {% block javascript %} {% endblock %} 
</body>
</html>
