{% extends "base.html" %}

{% block main %}
<div class="container">
    <ul class="nav nav-tabs hub-tab-nav">
      <li class="active"><a href="#hubs" data-toggle="tab">Hubs</a></li>
      <li><a href="#settings" data-toggle="tab">Settings</a></li>
      <li><a href="#payment" data-toggle="tab">Payment</a></li>
    </ul>

    <div class="hub-tab-content tab-content">
      <div class="tab-pane hab-tab active" id="hubs">
        <h2>Hubs</h2>
        <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th style="width: 370px">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for hub in result %}
           <tr>
            <td>{{hub.hubname}}</td>
            <td>
                <a href="/{{hub.hubname}}" target="_blank">
                    <button class="btn btn-primary btn-sm">
                        <i class="icon-white icon-eye-open"></i> View
                    </button>
                </a>
                <a href="/{{hub.hubname}}/edit">
                    <button class="btn btn-primary btn-sm">
                        <i class="icon-white icon-edit"></i> Edit
                    </button>
                </a>
                <button class="btn btn-primary btn-sm">
                    <i class="icon-white icon-remove"></i> Delete
                </button>
            </td>
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
        <a href="#modal-create-tint" role="button" class="btn btn-primary btn-sm" data-toggle="modal" data-backdrop="static" onclick="$('#modal-create-tint input').val('')">
            <i class="icon-white icon-plus"></i>
             Add Hub
        </a>
      </div>
      <div class="tab-pane hab-tab" id="settings">
        <h2>Settings</h2>
      </div>
      <div class="tab-pane hab-tab" id="payment">
        <h2>Payment</h2>
      </div>
    </div>
</div>

{% endblock %}