{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/site_media/css/hub_styles.css">
{% endblock %}

{% block main %}
  <div id="left-settings">
      <div class="inner-left-settings">
            <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#edit-accordion" href="#edit-content" data-popover="popover-edit-content">
                            Content <i class="icon-chevron-down"></i><i class="edit-accordion-help edit-accordion-content-help icon-question-sign"></i>
                        </a>
                    </div>
                    <div id="edit-content" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                            <div class="accordion-inner-covering loggedout-only"></div>
                            <h4>Add Accounts</h4>
                            <hr>
                            <div class="edit-content-connect clearfix">
                                <div style="width:280px;">
                                    <a type="button"  data-toggle="modal" data-target="#facebook-modal" class="icn-hm-social-med clickable icn-hm-fb-big fb" style=""><i class="foundicon-facebook"></i><p><span>facebook</span></p></a>
                                    <a type="button"  data-toggle="modal" data-target="#twitter-modal" class="icn-hm-social-med clickable icn-hm-tw-big tw" style=""><i class="foundicon-twitter"></i><p><span>twitter</span></p></a>
                                    <a type="button"  data-toggle="modal" data-target="#instagram-modal" class="icn-hm-social-med clickable icn-hm-in-big in" style=""><i class="foundicon-instagram"></i><p><span>instagram</span></p></a>
                                </div>
                            </div>
                            <h4 style="margin-top: 40px;">Accounts you have added</h4>
                            <hr>

                            {% for acc in social_accounts %}
                                <div data-account-name="{{acc.0}}" class="edit-content-account dropShadow">
                                    <div class="edit-content-account-info">
                                        <img src="http://www.google.com/s2/favicons?domain={{acc.0}}.com" height="16" width="16" class="favicon" alt="{{acc.0}}">
                                        <span class="social-span">{{acc.1}}</span>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-sm">
                                      Remove
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
      </div>
  </div>
  <div id="right-section">
      <div class="social-getter" style="width:100%; height:100%;" data-hubname="{{hubname}}" data-columns="4" data-expand="true">
      </div>
  </div>


  <!-- Facebook modal -->
<div class="modal fade" id="facebook-modal">
      <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Facebook</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#edit-content-fb-0" data-toggle="pill">Profile</a></li>
            <li class=""><a href="#edit-content-fb-1" data-toggle="pill">Page</a></li>
            <li><a href="#edit-content-fb-2" data-toggle="pill">Page Posts by Others</a></li>
            <li class=""><a href="#edit-content-fb-3" data-toggle="pill">Hashtags</a></li>
            <li class=""><a href="#edit-content-fb-4" data-toggle="pill">Group</a></li>
        </ul>
        <div class="tab-content" style="text-align:center;">
            <div class="tab-pane active" id="edit-content-fb-0">
               <div class="well">

                <div class="input-group">
                    <span class="input-group-addon">facebook.com</span>
                    <input id=type="text" class="form-control">
                    <span class="input-group-btn">
                      <button id="fb_connect_btn" data-social-name="facebook" class="btn btn-default" type="button">Connect</button>
                    </span>
                  </div>
                    <div class="edit-content-moderate-holder">
                        <label class="edit-content-fb-modal-page-moderate-label edit-content-modal-moderate-label"><input type="checkbox" class="edit-content-fb-modal-page-moderate"> Manually approve posts before making them public.</label>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="edit-content-fb-1">
                 <div class="well">
                  Currently not avialable
                </div>
            </div>
            <div class="tab-pane" id="edit-content-fb-2">
                <div class="well">
                  Currently not avialable
                </div>
            </div>
            <div class="tab-pane" id="edit-content-fb-3">
              <div class="well">
                  Currently not avialable
                </div>
            </div>
            <div class="tab-pane" id="edit-content-fb-4">
              <div class="well">
                  Currently not avialable
                </div>
            </div>
        </div>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


  <!-- Twitter modal -->
<div class="modal fade" id="twitter-modal">
      <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Twitter</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#edit-content-tw-0" data-toggle="pill">Twitter account</a></li>
            <li class=""><a href="#edit-content-tw-1" data-toggle="pill">Hashtag</a></li>
            <li><a href="#edit-content-tw-2" data-toggle="pill">Favorites</a></li>
            <li class=""><a href="#edit-content-tw-3" data-toggle="pill">Locations</a></li>
            <li class=""><a href="#edit-content-tw-4" data-toggle="pill">Custom</a></li>
        </ul>
        <div class="tab-content" style="text-align:center;">
            <div class="tab-pane active" id="edit-content-tw-0">
               <div class="well">

                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default" data-social-name="twitter" type="button">Connect</button>
                    </span>
                  </div>
                    <div class="edit-content-moderate-holder">
                        <label class="edit-content-fb-modal-page-moderate-label edit-content-modal-moderate-label"><input type="checkbox" class="edit-content-fb-modal-page-moderate"> Manually approve posts before making them public.</label>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="edit-content-tw-1">
                 <div class="well">
                  Currently not avialable
                </div>
            </div>
            <div class="tab-pane" id="edit-content-tw-2">
                <div class="well">
                  Currently not avialable
                </div>
            </div>
            <div class="tab-pane" id="edit-content-tw-3">
              <div class="well">
                  Currently not avialable
                </div>
            </div>
            <div class="tab-pane" id="edit-content-tw-4">
              <div class="well">
                  Currently not avialable
                </div>
            </div>
        </div>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


  <!-- Instagram modal -->
<div class="modal fade" id="instagram-modal">
      <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Instagram</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#edit-content-in-0" data-toggle="pill">Instagram account</a></li>
            <li class=""><a href="#edit-content-in-1" data-toggle="pill">Hashtag</a></li>
            <li><a href="#edit-content-in-2" data-toggle="pill">Location</a></li>
        </ul>
        <div class="tab-content" style="text-align:center;">
            <div class="tab-pane active" id="edit-content-in-0">
               <div class="well">

                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default" data-social-name="instagram" type="button">Connect</button>
                    </span>
                  </div>
                    <div class="edit-content-moderate-holder">
                        <label class="edit-content-fb-modal-page-moderate-label edit-content-modal-moderate-label"><input type="checkbox" class="edit-content-fb-modal-page-moderate"> Manually approve posts before making them public.</label>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="edit-content-in-1">
                 <div class="well">
                  Currently not avialable
                </div>
            </div>
            <div class="tab-pane" id="edit-content-in-2">
                <div class="well">
                  Currently not avialable
                </div>
            </div>
        </div>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>



{% endblock %}



{% block javascript %}
  <script src="/site_media/js/hub-edit.js"></script>
  <script src="/site_media/js/handlebars.min-latest.js"></script>
  <script src="/site_media/js/jquery.nicescroll.min.js"></script>  
  <script src="/site_media/js/social-getter.js"></script>

{% endblock %}  
