{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/site_media/css/hub_styles.css">
{% endblock %}

{% block main %}
  <div class="social-getter" style="width:100%; height:100%;" data-hubname="{{hubname}}" data-columns="4" data-expand="true">
  </div>
{% endblock %}

{% block javascript %}
  <script src="/site_media/js/handlebars.min-latest.js"></script>
  <script src="/site_media/js/jquery.nicescroll.min.js"></script>  
  <script src="/site_media/js/social-getter.js"></script>
{% endblock %}  
